/* Master stles */
body {
    font-family: 'Krub', sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr; 
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 38px
}

.left-side {
    display: flex;
}

/* Navigation styles */
.navigation > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;    
}

.navigation > .right-side > div {
    text-transform: uppercase;
}

.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-link a:hover {
    color: black
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Portfolio styles */

.portfolio-assessment {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.portfolio-assessment-img-background {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.assessment-logo img{
    width: 11%;
    margin-bottom: 20px;
}

.portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right:100px;
}

.logo img{
    width: 33% !important;
    margin-bottom: 20px;
}

.img-text .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text:hover .subtitle {
    font-weight: 600;
    color: rgb(6, 84, 252);
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.button {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    border-width: 5px;
    border-style: outset;
    border-radius: 15px;
    font-size: 125%;
    font-family: inherit;
    color: rgb(6,84,252);
    padding: 5px;
    background: rgb(0,0,0);
}

.button-code {
    margin: 0;
    float: right;
    width: fit-content;
    height: fit-content;
    border-width: 5px;
    border-style: outset;
    border-radius: 15px;
    font-size: 125%;
    font-family: inherit;
    color: rgb(6,84,252);
    padding: 5px;
    background: rgb(0,0,0);
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.75);
}

.modal-dialog {
    background-color: rgba(0,0,0,0.75);
    margin: auto;
    padding: 5px;
    border: 1px solid #8a8a8a;
    width: 80%;
    height: 80% !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px, 20px 0 rgba(0,0,0,0.19);
    animation-duration: 1.0s;
    
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    border: 1px solid #8a8a8a;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px, 20px 0 rgba(0,0,0,0.19);
    
}

.modal-header {
    padding: 2px 16px;
    background-color: rgba(40,40,40,1);
    color: rgb(6,84,252);
}

.modal-body {
    padding: 2px 15px;
    height: 90%;

}

/* About page styles */
.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image img {
    width: 100%;    
}

.profile-content {
    padding: 30px;
}

.profile-content h1 {
    color: rgb(6,84,252);
}